<md-icon md-svg-icon="{{ul.selected.avatar}}" class="avatar"></md-icon>
<h2>{{ul.selected.name}}</h2>
<p>{{ul.selected.content}}</p>

<div  layout="column" layout-padding="" ng-cloak="" class="inputdemoIcons" >
    <md-content class="md-no-momentum">

        <!-- show personal data -->
        <md-input-container class="md-icon-float md-block">
            <label>Name</label>
            <md-icon md-svg-src="./assets/svg/ic_person_24px.svg" class="name"></md-icon>
            <input ng-model="ul.selected.name" type="text">
        </md-input-container>

        <md-input-container md-no-float="" class="md-block">
            <md-icon md-svg-src="./assets/svg/ic_phone_24px.svg"></md-icon>
            <input ng-model="ul.selected.phoneNumber" type="text" placeholder="Phone Number">
        </md-input-container>

        <md-input-container class="md-block">
            <md-icon md-svg-src="./assets/svg/ic_email_24px.svg" class="email"></md-icon>
            <input ng-model="ul.selected.mailAddress" type="email" placeholder="Email (required)" ng-required="true">
        </md-input-container>

    </md-content>
</div>

<md-divider></md-divider>

<!-- show subscriptions -->
<div>
    <md-subheader class="md-no-sticky">Subscriptions</md-subheader>
    <md-list-item class="md-2-line" ng-repeat="item in ul.subscriptions">
        <md-icon md-svg-src="./assets/svg/ic_room_black_24px.svg"></md-icon>
        <div class="md-list-item-text" ng-class="{'md-offset': phone.options.offset }">
            <h3> {{item.latitude}}, {{item.longitude}} </h3>
            <p> {{item.radius}} Km, {{item.threshold}} threshold </p>
        </div>
    </md-list-item>
</div>

<md-divider></md-divider>

<!-- add new subscription -->
<div ng-hide="ul.selected.hideSubscriptionForm">
    <div layout-gt-sm="row">

        <md-input-container class="md-block" flex-gt-sm="" >
            <label>Latitude</label>
            <input ng-model="ul.subscription.latitude">
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm="">
            <label>Longitude</label>
            <input ng-model="ul.subscription.longitude">
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm="">
            <label>Radius</label>
            <md-select ng-model="ul.subscription.radius">
                <md-option ng-repeat="item in ul.radius" value="{{item.radius}}">
                    {{item.radius}} Km
                </md-option>
            </md-select>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm="">
            <label>Threshold</label>
            <md-select ng-model="ul.subscription.threshold">
                <md-option ng-repeat="item in ul.threshold" value="{{item.threshold}}">
                    {{item.threshold}}
                </md-option>
            </md-select>
        </md-input-container>

    </div>

    <md-button class="md-raised md-primary" ng-click="ul.createNewSubscription()">Submit</md-button>
</div>