<!DOCTYPE html>
<html lang="en" >
  <head>
    <title>Air Quality Monitoring</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="./angular/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="assets/app.css"/>

    <style type="text/css">
        /**
         * Hide when Angular is not yet loaded and initialized
         */
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
          display: none !important;
        }
    </style>

  </head>

  <body ng-app="starterApp" layout="column" ng-controller="UserController as ul" ng-cloak>

    <md-toolbar layout="row">
      <md-button class="menu" hide-gt-sm ng-click="ul.toggleList()" aria-label="Show User List">
        <md-icon md-svg-icon="menu" ></md-icon>
      </md-button>
      <h1>Air Quality Monitoring</h1>
    </md-toolbar>

    <div flex layout="row">

        <md-sidenav  ng-click="ul.toggleList()" md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left" class="md-whiteframe-z2" >
          <md-list>
            <md-list-item ng-repeat="it in ul.users">
                <md-button ng-click="ul.selectUser(it)" ng-class="{'selected' : it === ul.selected }">
                  <md-icon md-svg-icon="{{it.avatar}}" class="avatar"></md-icon>
                  {{it.name}}
                </md-button>
            </md-list-item>
          </md-list>
        </md-sidenav>

        <md-content flex id="content" style="overflow: scroll;">
            <md-icon md-svg-icon="{{ul.selected.avatar}}" class="avatar"></md-icon>
            <h2>{{ul.selected.name}}</h2>
            <p>{{ul.selected.content}}</p>

            <div  layout="column" layout-padding="" ng-cloak="" class="inputdemoIcons" >
                <md-content class="md-no-momentum">

                    <!-- show personal data -->
                    <md-input-container class="md-icon-float md-block">
                        <label>Name</label>
                        <md-icon md-svg-src="./assets/svg/ic_person_24px.svg" class="name"></md-icon>
                        <input ng-model="ul.selected.name" type="text">
                    </md-input-container>

                    <md-input-container md-no-float="" class="md-block">
                        <md-icon md-svg-src="./assets/svg/ic_phone_24px.svg"></md-icon>
                        <input ng-model="ul.selected.phoneNumber" type="text" placeholder="Phone Number">
                    </md-input-container>

                    <md-input-container class="md-block">
                        <md-icon md-svg-src="./assets/svg/ic_email_24px.svg" class="email"></md-icon>
                        <input ng-model="ul.selected.mailAddress" type="email" placeholder="Email (required)" ng-required="true">
                    </md-input-container>

                </md-content>
            </div>

            <md-divider></md-divider>

            <!-- show subscriptions -->
            <div>
                <md-subheader class="md-no-sticky">Subscriptions</md-subheader>
                <md-list-item class="md-2-line" ng-repeat="item in ul.subscriptions">
                    <md-icon md-svg-src="./assets/svg/ic_room_black_24px.svg"></md-icon>
                    <div class="md-list-item-text" ng-class="{'md-offset': phone.options.offset }">
                        <h3> {{item.latitude}}, {{item.longitude}} </h3>
                        <p> {{item.radius}} Km, {{item.threshold}} threshold </p>
                    </div>
                </md-list-item>
            </div>

            <md-divider></md-divider>

            <!-- add new subscription -->
            <div ng-hide="ul.selected.hideSubscriptionForm">
                <div layout-gt-sm="row">

                    <md-input-container class="md-block" flex-gt-sm="" >
                        <label>Latitude</label>
                        <input ng-model="ul.subscription.latitude">
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Longitude</label>
                        <input ng-model="ul.subscription.longitude">
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Radius</label>
                        <md-select ng-model="ul.subscription.radius">
                            <md-option ng-repeat="item in ul.radius" value="{{item.radius}}">
                                {{item.radius}} Km
                            </md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Threshold</label>
                        <md-select ng-model="ul.subscription.threshold">
                            <md-option ng-repeat="item in ul.threshold" value="{{item.threshold}}">
                                {{item.threshold}}
                            </md-option>
                        </md-select>
                    </md-input-container>

                </div>

                <md-button class="md-raised md-primary" ng-click="ul.createNewSubscription()">Submit</md-button>
            </div>

        </md-content>

    </div>

    <script src="./angular/angular/angular.js"></script>
    <script src="./angular/angular-animate/angular-animate.js"></script>
    <script src="./angular/angular-aria/angular-aria.js"></script>
    <script type="text/javascript" src="./angular/angular-material/angular-material.js"></script>

    <script src="./src/users/Users.js"></script>
    <script src="./src/users/UserController.js"></script>
    <script src="./src/users/UserService.js"></script>

    <script type="text/javascript">

          angular
              .module('starterApp', ['ngMaterial', 'users'])
              .config(function($mdThemingProvider, $mdIconProvider){

                  $mdIconProvider
                      .defaultIconSet("./assets/svg/avatars.svg", 128)
                      .icon("menu"       , "./assets/svg/menu.svg"        , 24)
                      .icon("share"      , "./assets/svg/share.svg"       , 24)
                      .icon("google_plus", "./assets/svg/google_plus.svg" , 512)
                      .icon("hangouts"   , "./assets/svg/hangouts.svg"    , 512)
                      .icon("twitter"    , "./assets/svg/twitter.svg"     , 512)
                      .icon("phone"      , "./assets/svg/phone.svg"       , 512);

                      $mdThemingProvider.theme('default')
                          .primaryPalette('blue')
                          .accentPalette('red');

              });

    </script>

  </body>
</html>
